
#print
	{
	display: block;
	font-size: 16pt;
	margin-top: 50px;
	}
	
#claim
	{
	font-size: 13pt;
	overflow:hidden;
	font-family: Calibri, Times New Roman;
	}
	
#claim_head
	{
	text-align: right;
	overflow:hidden;
	}
	
#claim_head div
	{
	text-align: left;
	float:right;
	overflow:hidden;
	}
	
#claim_title
	{
	font-weight: bold;
	font-size:14pt;
	text-align: center;
	overflow:hidden;
	}
	
#claim_body	
	{
	text-align: justify;
	overflow:hidden;
	}
#claim_foot	
	{
	overflow:hidden;
	display: block;
	}	
	
#claim_date	
	{
	float: left;
	}	
#claim_sign	
	{
	text-align: right;
	float: right;
	}	
	
#claim textarea
	{
	width: 100%;
	height: 50px;
	}
	
div.links
	{
	margin-top: 10px;
	}
	
.edit a, div.links a
	{
	color: #666;
	}

	